body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.container {
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #000000; /* Light green border */
}

.tab {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #006d37;
    color: white;
    font-weight: bold;
}

.content {
    padding: 20px;
    display: none;
}

#registrationContent {
    display: block;
}

/* Align text and input fields nicely */
label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

/* Center the container */
html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}
#loginContent {
    display: block;
}
